.App {
  text-align: left;
}

.input-description {
  border-radius: 5px;
  border-width: 1px;
  width: 300px;
  height: 100px;
  margin: 10px 0px;
}

.input-price {
  border-radius: 5px;
  border-width: 1px;
  height: 20px;
  margin-bottom: 10px;
}

.submit-button {
  border-radius: 5px;
  border-width: 0px;
  width: 80px;
  height: 40px;
  background-color: #A44A3F;
}

.submit-button:active {
  background-color: #e77d6f;
  transform: translateY(4px);
}

.pay-button {
  border-radius: 5px;
  border-width: 0px;
  width: 120px;
  height: 40px;
  background-color: #A44A3F;
}

.pay-button:active {
  background-color: #e77d6f;
  transform: translateY(4px);
}

.buy-item {
  margin-bottom: 40px;
  margin-top: 40px;
}

.contract-methods {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  height: 100vh;
}

.list-of-items {
  display: inline-block;
  width: 60%;
  height: 100vh;
  vertical-align: top;
}

